.nav__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  transition: all .3s linear;
  display: block;
}

@media screen and (min-width:1100px) {
  .nav__link {
    padding: 10px;
    max-width: 100px;
    position: relative;
  }
  .nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #009FAC;
    left: 0; 
    bottom: 0;
    border-radius: 2px;
    transform: scale(0, 1);
    transition: transform .3s ease;
  }
  .nav__link:hover::after {
    transform: scale(1, 1);
    z-index: 3;
  }  
  .nav__link_type_active {
    background: #009FAC;
    border-radius: 10px;  
    font-weight: 600;
    font-size: 14px;
  }    
}