.intro__subtitle {
   margin: 0;
   padding: 0;
   max-width: 320px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 44px;
   letter-spacing: 0.1px;
}

@media screen and (min-width: 670px) {
   .intro__subtitle {
   font-size: 54px;
   line-height: 68px;
   margin-bottom: 32px;
   }
}