.feedback__form {
  margin: 23px 0 40px;
  width: calc(100% - 2 * 16px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

@media screen and (min-width: 600px) {
  .feedback__form {
    width: calc(100% - 2 * 39px);
    margin: 37px 0 60px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 29px;
  }
}

@media screen and (min-width: 1280px) {
  .feedback__form {
    width: calc(100% - 2 * 162px);
    margin: 60px 0 33px;
  }
}