.feedback__form {
  margin: 23px 0 40px;
  width: calc(100% - 2 * 16px);
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .feedback__form {
    width: calc(100% - 2 * 39px);
    margin: 37px 0 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px 29px; 
  }
}

@media screen and (min-width: 783px) {
  .feedback__form {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .feedback__form {
    width: calc(100% - 2 * 162px);
    margin: 60px 0 33px;
  }
}