.lab__popup-pic{
    width: 268px;
    height: 160px; 
    border-radius: 10px;
    margin: 0;
    background-image: url(../../../images/lab/popup_mobile.png);
}


@media screen and (min-width: 670px){
    .lab__popup-pic{
        order:1;
        width: 199px;
        height: 414px;
        background-image: url(../../../images/lab/popup_tablet.png);
    }
}

@media screen and (min-width: 1200px){
    .lab__popup-pic{
        order:1;
        width: 400px;
        height: 678px;
        background-image: url(../../../images/lab/popup_web.png);
    }
}

