.about__swiper-button-next {
  overflow: hidden;
  top: 68%;
  transition: all .3s linear;
}

.about__swiper-button-next::after {
  content: "";
}

.about__swiper-button-next {
  right: 20px;
} 

.about__swiper-button-next:hover {
  transform: translateX(5px);
  opacity: 0.5;
}