.education__buttons {
    max-width: 288px;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    display: flex;
    margin-bottom: 40px;
    padding-left: 1.5px;
  }

  .education__button .ed-input[type="radio"] {
    display: none;
}

.education__button label {
    display: inline-block;
    padding: 2px 9px;
    cursor: pointer;
    border: 1px solid #E0F0FF;
    border-radius: 5px;
    color: white;
    width: 121px;
    height: 30px;
    padding-top: 12px;
}

.education__button .ed-input[type="radio"]:checked+label {
    background-color: #E0F0FF;
    color: #000D26;
}

<div class="education__buttons">  
        <div class="education__button"> 
            <input class="ed-input" type="radio" id="radio1" name="radios" value="Аспирантура" checked>
            <label for="radio1">АСПИРАНТУРА</label>
            <input type="radio" id="radio2" name="radios" value="Магистратура" class="ed-input">
            <label for="radio2">МАГИСТРАТУРА</label>
        </div>   
    </div>