.lab__card-button{
    width: 120px;
    height: 32px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05px;
    color: #001337;
    background-color: white;
    border: 1px solid #001337;
    border-radius: 5px;
}


@media screen and (min-width: 1125px){
    .lab__card-button{
        font-size: 14px;
        line-height: 20px;
        width: 215px;
        height: 40px;
    }
}



