.team .team__navigation_type_next {
  display: none;
}

@media screen and (min-width: 1282px) {
  .team .team__navigation_type_next {
    display: flex;
    right: 0;
    width: 60px;
    height: 60px;
  }
  .team .team__navigation_type_next::after {
    content: url(../../../../images/team/arrow.svg);
    box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
    border-radius: 36px;
    width: 60px;
    height: 60px;
  }

  .team .team__navigation_type_next:hover::after {
    content: url(../../../../images/team/arrowHover.svg);
  }
}
