.projects__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .projects__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1px;
  }
}
@media screen and (min-width: 1125px) {
  .projects__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 68px;
  }
}
