.lab__card-pic{
    height: 60px;
    width: 60px;
    margin-top: 5px;
}


@media screen and (min-width: 800px){
    .lab__card-pic{
        height: 70px;
        width: 70px;
    }
}


@media screen and (min-width: 1125px){
    .lab__card-pic{
        height: 120px;
        width: 120px;
        margin-top: 30px;
    }
}