.lab__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background: #FFFFFF;
    width: 140px;
    height: 224px;
    border-radius: 5px;
    margin:0;
    color: #001337;
}

.lab__card:hover button{
    background-color:white;
    color: #009FAC;
    border: none;
}

.lab__card:hover{
    background-color: #009FAC;
    color: white;
    cursor: pointer;
}


@media screen and (min-width: 800px){
    .lab__card:hover {
        transform: translate(0, -10px);
        transition: transform ease-out 1s;
    }
}

@media screen and (min-width: 800px){
    .lab__card {
        width: 150px;
        height: 242px;
        border-radius: 5.8px;
        background-size: contain;
    }
}

@media screen and (min-width: 800px){
    .lab__card:nth-of-type(1n):hover {
        background-image: url(../../../images/lab/Project.png);
        background-color:#009FAC;
    }
}

@media screen and (min-width: 800px){
    .lab__card:nth-of-type(2n):hover {
        background-color:#009FAC;
        background-image: url(../../../images/lab/Machine\ learning.png);
        
    }
}

@media screen and (min-width: 800px){
    .lab__card:nth-of-type(3n):hover {
        background-color:#009FAC;
        background-image: url(../../../images/lab/Data.png);
    }
}

@media screen and (min-width: 800px){
    .lab__card:nth-of-type(4n):hover {
        background-image: url(../../../images/lab/Robot.png);
        background-color:#009FAC;
    }
}

@media screen and (min-width: 800px){
    .lab__card:nth-of-type(1n) {
        background-image: linear-gradient(180deg,  white  0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Project.png);
    }
}


@media screen and (min-width: 800px){
    .lab__card:nth-of-type(2n){
        background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Machine\ learning.png);
    }
}

@media screen and (min-width: 800px){
    .lab__card:nth-of-type(3n){
        background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Data.png);
    }
}

@media screen and (min-width: 800px){
    .lab__card:nth-of-type(4n){
        background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Robot.png);
    }
}

@media screen and (min-width: 1125px){
    .lab__card{
        width: 255px;
        height: 430px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1125px){
    .lab__card:hover button{
        background-color: transparent;
        color: white; 
        border: 1px solid white;
        cursor: pointer;
    }
}

@media screen and (min-width: 1125px){
    .lab__card:active button{
        background-color:white;
        color: #009FAC;
        border: none;
        transition:  background-color ease-out 1s;
    }
}



