.education__text-container{
    margin: 0 16px 20px;
    align-self: center;
}

@media screen and (min-width: 768px){
    .education__text-container{
        margin-left: 20px;
        margin-right: 10px;
        
}
}

@media screen and (min-width: 1280px){
    .education__text-container{
        margin-left: 30px;
        margin-right: 20px;
        width: 635px;
}
}



