.about__card-info {
  margin: 12px 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000D26;
}

@media screen and (min-width: 768px) {
  .about__card-info {
    font-size: 14px;
    line-height: 19px;
    margin-top: 20px;
  } 
}