.nav__dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  padding-top: 33px;
  display: none;
  background: #000D26;
  transition: all .5s ease;
}

.nav__item:hover>.nav__dropdown-list {
  display: block;
}


@media screen and (max-width:1100px) {
  .nav__dropdown-list {
    position: static;
    top: 0;
    padding-top: 0;
    display: block;
    max-height: 0px;
    overflow: hidden;
  }

  #nav__dropdown:checked~.nav__dropdown-list {
    max-height: 100vh;
  }
}
