.about__card {
  width: 288px;
  height: 250px;  
  padding: 16px; 
  box-sizing: border-box;  
  background: #E0F0FF;
  border-radius: 5px;
  position: relative; 
}

@media screen and (min-width: 768px) {
  .about__card {
    padding: 20px;   
    width: 330px;
    height: 330px;
  }
}

@media screen and (min-width: 1100px) {
  .about__card {
    padding: 20px 20px 30px; 
    width: 348px;
    height: 340px;
  }
} 