.lab__decoration{
    visibility: hidden;
    width: 0;
    height: 0;
}

@media screen and (min-width: 1280px){
    .lab__decoration{
        width: 24px;
        height: 22.56px;
        position: absolute;
        left: -30px;
        top: 48%;
        visibility: visible;
        color: #009FAC;
        background-image: url(../../../images/lab/moleculer.svg);
    }
}