@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__logo-container/footer__logo-container.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__info-copyright/footer__info-copyright.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__description/footer__description.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__contact-container/footer__contact-container.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__number-container/footer__number-container.css);
@import url(../blocks/footer/__number/footer__number.css);
@import url(../blocks/footer/__social-media-list/footer__social-media-list.css);
@import url(../blocks/footer/__social-media/footer__social-media.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);