@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/* Header Navigation */
@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__content/nav__content.css);
@import url(../blocks/nav/__header/nav__header.css);
@import url(../blocks/nav/__list/nav__list.css);
@import url(../blocks/nav/__list/_type/nav__list_dropdown.css);
@import url(../blocks/nav/__list/_type/nav__list_show.css);
@import url(../blocks/nav/__item/nav__item.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/nav/__link/_type/nav__link_dropdown.css);
@import url(../blocks/nav/__link/_type/nav__link_label.css);
@import url(../blocks/nav/__link/_type/nav__link_hide.css);
@import url(../blocks/nav/__item/_type/nav__item_dropdown.css);
@import url(../blocks/nav/__burger-menu/nav__burger-menu.css);
@import url(../blocks/nav/__burger-menu/_hide/nav__burger-menu_hide.css);
@import url(../blocks/nav/__close-button/nav__close-button.css);
@import url(../blocks/nav/__close-button/_show/nav__close-button_show.css);
@import url(../blocks/nav/__logo/nav__logo.css);

/* Header Info */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__content/header__content.css);
@import url(../blocks/header/__content-info/header__content-info.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__button/header__button.css);

/* Lab*/
@import url(../blocks/root/root.css);
@import url(../blocks/lab/lab.css);
@import url(../blocks/lab/__titile/lab__title.css);
@import url(../blocks/lab/__info/lab__info.css);
@import url(../blocks/lab/__grid/lab__grid.css);
@import url(../blocks/lab/__card/lab__card.css);
@import url(../blocks/lab/__card-info/lab__card-info.css);
@import url(../blocks/lab/__card-button/lab__card-button.css);
@import url(../blocks/lab/__image/lab__image.css);
@import url(../blocks/lab/__info-container/lab__info-container.css);
@import url(../blocks/lab/__image-container/lab__image-container.css);
@import url(../blocks/lab/__text-container/lab__text-container.css);
@import url(../blocks/lab/__decoration/lab__decoration.css);
@import url(../blocks/lab/__card-title/lab__card-title.css);
@import url(../blocks/lab/__card-pic/lab__card-pic.css);

/* Feedback */
@import url(../blocks/feedback/feedback.css);
@import url(../blocks/feedback/__title/feedback__title.css);
@import url(../blocks/feedback/__subtitle/feedback__subtitle.css);
@import url(../blocks/feedback/__form/feedback__form.css);
@import url(../blocks/feedback/__field/feedback__field.css);
@import url(../blocks/feedback/__field/_textarea/feedback__field_textarea.css);
@import url(../blocks/feedback/__input/feedback__input.css);
@import url(../blocks/feedback/__input/_type/feedback__input_type_error.css);
@import url(../blocks/feedback/__input-error/feedback__input-error.css);
@import url(../blocks/feedback/__input/_textarea/feedback__input_textarea.css);
@import url(../blocks/feedback/__submit-button/feedback__submit-button.css);
@import url(../blocks/feedback/__submit-button/_inactive/feedback__submit-button_inactive.css);

/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__logo-container/footer__logo-container.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__info-copyright/footer__info-copyright.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__description/footer__description.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__contact-container/footer__contact-container.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__number-container/footer__number-container.css);
@import url(../blocks/footer/__number/footer__number.css);
@import url(../blocks/footer/__social-media-list/footer__social-media-list.css);
@import url(../blocks/footer/__social-media/footer__social-media.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

