.lab__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 40px 0 20px;
    color: #000D26;
    margin-block-start: 0;
    margin-block-end: 0;
}


@media screen and (min-width: 600px){
    .lab__title{
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.1px;
        padding: 60px 0 30px;
    }

}


@media screen and (min-width: 1280px){
    .lab__title{
        font-size: 36px;
        line-height: 68px;
        padding: 60px 0 30px;
    }

}