.education__list{
    padding-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0588372px;
    color: #000D26;
    list-style: none;
    margin-bottom: 16px;
}


@media screen and (min-width: 768px){
    .education__list{
        flex-direction: row-reverse;
}
}

@media screen and (min-width: 1280px){
    .education__list{
        flex-direction: row-reverse;
        font-size: 18px;
        line-height: 30px;
}
}

