.about {
  max-width: 100%;
  background-color: #001337;
}
.swiper {
  width: 100%;
  height: 293px;
}
/* .swiper-wrapper {
  align-items: center;
} */
.swiper-slide {
  position: relative;
  width: 288px;
  height: 250px;   
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; 
}


.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: #fff;
  opacity: 0.5;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  width: 60px;
  height: 60px;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 45%;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  box-sizing: content-box;
}


@media screen and (min-width: 768px) {
  .swiper {
    height: 380px;
    
  }
  .swiper-slide {
    width: 330px;
    height: 330px;
  }
  
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  } 
}

@media screen and (min-width: 1100px) {
  .swiper {
    height: 411px;
    /* width: calc(100% - 2 * 39px); */
    background-color: pink;
  }
 
  .swiper-slide {
    width: 348px;
    height: 340px; 
  }
  
}