.team__name {
  text-align: center;
  font-weight: 600;
  color: #000d26;
  max-width: 80px;
  /* min-height: 48px; */
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.06px;
  display: inline-block;
  justify-content: center;
  padding: 0;
  margin: 10px auto 4px;
}

@media screen and (min-width: 536px) {
  .team__name {
    font-size: 14px;
    line-height: 1.36;
    margin-top: 12px;
    min-height: 57px;
    max-width: 100%;
  }
}

@media screen and (min-width: 606px) {
  .team__name {
    font-size: 14px;
    line-height: 1.36;
    margin-top: 12px;
    min-height: 38px;
    max-width: 100%;
  }
}

/* @media screen and (min-width: 870px) {
  .team__name {
    min-height: 38px;
  }
} */

@media screen and (min-width: 1282px) {
  .team__name {
    font-size: 18px;
    line-height: 1.67;
    min-height: 60px;
    margin-top: 20px;
  }
}
