.lab__image{
    width: 288px;
    height: 180px;
    background-size: contain;
    border-radius: 10px;
    background-image: url(../../../images/lab/image\ 35-min.png);

}

.lab__image:nth-of-type(2n){
    visibility: hidden;
    height: 0%;
    width: 0%;
}


@media screen and (min-width: 670px){
    .lab__image{
        width: 100%;
        height: 240px;
        background-size: cover;
    }
}

@media screen and (min-width: 1240px){
    .lab__image:nth-of-type(2n){
        visibility: visible;
        background-image: url(../../../images/lab/image\ 38.png);
        width: 264px;
        height: 276px;
        margin-right: 12px;
    }
}

@media screen and (min-width: 1240px){
    .lab__image {
        width: 264px;
        height: 276px;
        background-image: url(../../../images/lab/image\ 35.png);
    }
}