.feedback__submit-button {
  margin-top: 11px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 16px;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s linear;
}

.feedback__submit-button:hover {
  color: #001337;
  border: 1px solid #001337;
}

@media screen and (min-width: 600px) {
  .feedback__submit-button {
    grid-column: 2;
    margin-top: 44px;
    border-radius: 10px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .feedback__submit-button {
    margin-top: 37px;
    font-size: 18px;
  }
}