.lab__card-title{
    font-family:  'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}


@media screen and (min-width: 800px){
    .lab__card-title{
        font-size: 12px;
        line-height: 16px;
        margin-top: 12px;
    }
}

@media screen and (min-width: 1125px){
    .lab__card-title{
        font-size: 18px;
        line-height: 30px;
        margin-top: 30px;
    }
}