.about__card-title {
  width: 256px;
  max-width: 100%;
  margin: 8px 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #001337;
  text-transform: uppercase;
}

.about__card-title {
  width: 248px;
  max-width: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #001337;
}

@media screen and (min-width: 768px) {
  .about__card-title {
    width: 290px;
    max-width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1100px) {
  .about__card-title {
    width: 308px;
    max-width: 100%;
  }
}