.about__slide-image {
  display: block;
  width: 288px;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 700px) {
  .about__slide-image {
    width: 330px;
    height: auto;
  }
}

@media screen and (min-width: 1100px) {
  .about__slide-image {
    width: 348px;
    height: auto;
  }
}