.footer__info-copyright {
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;
  width: 140px;
  max-width: 100%;
  line-height: 16px;
}

@media screen and (min-width: 700px) {
  .footer__info-copyright {
    margin-top: 30px;
    width: 241px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .footer__info-copyright {
    margin-top: 37.5px;
    font-size: 14px;
    line-height: 19px;
    max-width: 253px;
  }
}
