.education__info-container{
    min-width: calc(100% - 16px*2);
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
    align-self: center;
}


@media screen and (min-width: 768px){
    .education__info-container{
        min-width: 690px;
        flex-direction: row-reverse;
        border-radius: 10px;
        margin-bottom: 30px;
}
}


@media screen and (min-width: 1280px){
    .education__info-container{
        min-width: 1169px;
        flex-direction: row-reverse;
        border-radius: 10px;
        margin-bottom: 35px;
}
}